<form action="/comment/<%= comment._id %>?_method=PATCH" method="post">
  <input type="text"
         name="comment[author]"
         placeholder="author of comment, e.g. @shorty"
         value="<%= comment.author %>"><br/>
  <input type="text"
         name="comment[content]"
         placeholder="content of comment, limit 140 characters"
         value="<%= comment.content %>"><br/>
  <input type="submit">
</form>
