<h1>hey thanks for logging in!<%= currentUser ? "@"+currentUser : "Login" %></h1>

<!-- <h1>Enter your name</h1>

<form action="/welcome" method="post">
  <input type="text" name="authorName" placeholder="who is this?"><br/>
  <input type="submit">
</form> -->
