<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <form action="/users" method="post">
      <input type="text"
             name="comment[author]"
             placeholder="username">
      <input type="password"
             name="user[password]"
             placeholder="password">
      <input type="submit" value="Log in!">
    </form>
  </body>
</html>
