<p>Pls Login.</p>

<form action="/users/login" method="post">
  <input type="text"
         name="user[username]"
         placeholder="username">
  <input type="password"
         name="user[password]"
         placeholder="password">
  <input id="icon-sign-in" type="submit">
  <label for="icon-sign-in"><i class="fa fa-sign-in"></i></label>

</form>
